<div>
  <h1>Form</h1>
  <form (ngSubmit)="onRegister()" #myForm="ngForm">
    <div class="input-group">
      <label for="name">Name:</label>
      <input type="text" required name="name" id="name" [(ngModel)]="register.name"/>
      <p>Mensajes de error</p>
    </div>
    <div class="input-group">
      <label for="email">Email:</label>
      <input type="email" required name="email" id="email" [(ngModel)]="register.email"/>
      <p>Mensajes de error</p>
    </div>
    <div class="input-group">
      <label for="password">Password:</label>
      <input type="password" required name="password" id="password" [(ngModel)]="register.password"/>
      <p>Mensajes de error</p>
    </div>
    <button [disabled]="myForm.invalid" type="submit">Submit</button>
  </form>
  <hr/>
  <h1>NgClass & NgStyle</h1>
  <input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name"/>
  <hr class="line-error" [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }">
  <p class="message-error" [class.active]="nameInput4.invalid">The input is required</p>
  <div style="display: flex; flex-direction: row;">
    <div style="margin: 0.5em 2.5em;">
      <input type="number" [(ngModel)]="box.width"/>
      <input type="number" [(ngModel)]="box.height"/>
      <input type="color" [(ngModel)]="box.background"/>
    </div>
    <div style="margin: 0.5em 2.5em;">
      <div [ngStyle]="{
        'width.px': box.width,
        'height.px': box.height,
        'background-color': box.background,
        'display': 'block'
      }"></div>
    </div>
  </div>
  <hr/>
  <h1>Class & Styles</h1>
  <input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name"/>
  <p class="message-error" [class.active]="nameInput2.invalid">The input is required</p>
  <label>Name</label>
  <input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name"/>
  <p [style.color]="nameInput3.invalid ? 'red' : 'yellow'">This is a color message!</p>
  <div style="display: flex; flex-direction: row;">
    <div style="margin: 0.5em 2.5em;">
      <label>Insert width scale on rem: (Try with 120 or 400)</label>
      <input type="text" [(ngModel)]="widthImg" maxlength="3"/>
    </div>
    <div style="margin: 0.5em 2.5em;">
      <img [style.width.px]="widthImg" [src]="products[2].image" alt="image test">
    </div>
  </div>
  <hr/>
  <h1>[ngSwith]</h1>
  <input type="text" required [(ngModel)]="person.name" style="margin: 1em 0;"/>
  <div [ngSwitch]="person.name">
    <p *ngSwitchCase="'Josue'">You're Josue</p>
    <p *ngSwitchCase="'Joao'">You're Joao</p>
    <p *ngSwitchCase="'Jordana'">You're Jordana</p>
    <p *ngSwitchCase="'Jorgelina'">You're Jorgelina</p>
    <p *ngSwitch="'Chaina'">You're Chaina</p>
    <p *ngSwitchDefault>Your name isn't Josue, Joao, Jordana, Jorgelina or Chaina</p>
    <!-- <p *ngIf="person.name === 'Josue'">You're Josue</p>
    <p *ngIf="person.name === 'Joao'">You're Joao</p>
    <p *ngIf="person.name === 'Jordana'">You're Jordana</p>
    <p *ngIf="person.name === 'Jorgelina'">You're Jorgelina</p>
    <p *ngIf="person.name === 'Chaina'">You're Chaina</p> -->
  </div>
  <hr/>
  <h1>*ngFor for arrays</h1>
  <div class="product--grid">
    <div *ngFor="let p of products" class="product--item">
      <img [src]="p.image" alt="video game">
      <h2>${{p.price}}</h2>
      <h3>{{p.name}}</h3>
      <h4>☆ {{p.stars}}</h4>
    </div>
  </div>
  <hr/>
  <h1>*ngFor</h1>
  <input type="text" required [(ngModel)]="newName" style="margin: 1em 0;"/>
  <button (click)="addName()" *ngIf="newName.length > 5; else inputEmpty">Add name</button>
  <ng-template #inputEmpty>
    <p *ngIf="person.name">It's empty, you need send a name with +5 letters</p>
  </ng-template>
  <ul style="margin: 1em 0;">
    <li *ngIf="names.length === 0" style="font-size: 2em;">LIST EMPTY !</li>
    <li *ngFor="let n of names; index as i">
      My object's list : {{i}} is {{n}}
      <button (click)="deleteName(i)">Delete</button>
    </li>
  </ul>
  <hr/>
  <h1>*ngIf</h1>
  <input type="text" required [(ngModel)]="person.name" style="margin: 1em 0;"/>
  <p *ngIf="person.name === 'Josue'; else elseBlock">Awesome! You're Josue</p>
  <ng-template #elseBlock>
    <p *ngIf="person.name !== 'Josue'">Ops! Your name isn't Josue</p>
  </ng-template>
  <hr/>
  <h1>Data Binding</h1>
  <div class="container">
    <div>
      <p>Nombre: {{person.name}}</p>
      <input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
      <p>Valid: {{nameInput.valid}}</p>
    </div>
    <div>
      <p>Age: {{person.age}}</p>
      <input type="number" required #ageInput="ngModel" [(ngModel)]="person.age" max="24" min="18"/>
      <p>Valid: {{ageInput.valid}}</p>
    </div>
  </div>
  <hr/>
  <h1>Event Binding</h1>
  <button [disabled]="btnDisabled2">CLIC ON ME</button>
  <button (click)="toggleButton()">TURN ON/OFF</button>
  <hr/>
  <h3>Increase age: {{person.age}}</h3>
  <div class="container">
    <button (click)="decreaseAge()">DECREASE AGE</button>
    <button (click)="increaseAge()">INCREASE AGE</button>
  </div>
  <hr/>
  <div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam ipsa, eum, rem praesentium, vero eos natus sunt distinctio aperiam assumenda iusto omnis neque odio autem. Omnis laboriosam sint ab hic?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repudiandae maxime est pariatur, incidunt perspiciatis fugiat maiores ab consequatur dolorum rem nulla, dolores fuga corrupti blanditiis nesciunt ipsum, itaque recusandae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, consequatur! Cumque est adipisci aliquid, nesciunt laboriosam delectus obcaecati dolore voluptatem perferendis illum recusandae facere minus tempora laborum nobis aspernatur ratione.</p>
  </div>
  <hr/>
  <p>Nombre: {{person.name}}</p>
  <input type="text" [placeholder]="person.name" (keyup)="changeName($event)"/>
</div>
<hr/>
<div>
  <h1>Property Binding</h1>
  <button [disabled]="btnDisabled">CLIC ON ME</button>
  <input type="text" [value]="title"/>
  <progress [max]="progress_a" [value]="progress_b"></progress>
  <!-- <img [src]="img" alt=""/> -->
  <div>
    <p>Nombre: {{person.name}}</p>
    <p>Age: {{person.age}}</p>
    <p>Does {{person.name}} love Angular?: {{person.heLovesAngular}}</p>
  </div>
</div>
<hr>
<div>
  <h1>Interpolation</h1>
  <p>Repeat line with interpolation x5: <span style="color: green;">{{'Repeat '.repeat(5)}}</span></p>
  <!-- <img src="{{img}}" alt=""/> -->
  <p>My favorite number + my fav number with interpolation is = <span style="color: green;">{{favNumber + favNumber}}</span></p>
</div>

